{
  "extends": [
    "eslint:recommended",
    "react-app",
    "prettier",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime"
  ],
  "plugins": [
    "prettier",
    "react"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-max-props-per-line": ["error", {
      "maximum": {
        "single": 2,
        "multi": 1
      }
    }],
    "react/prop-types": 0,
  }
}
